In [2]:
for i in range(2, 13):
    open(f"C:\\Results\\txt\\09022022\\Block{i}_answers.txt", 'w').close()

In [3]:
import numpy as np

import pandas as pd

import matplotlib.pyplot as plt

In [4]:
filename = "C:\\Results\\txt\\09022022\\Block11.txt"

data = pd.read_csv(filename, sep='\t', decimal=",", encoding='cp1251')

data.head()

   Время, s  Канал 1, V
0    0.0000     -0.7854
1    0.0001     -0.7880
2    0.0002     -0.7880
3    0.0003     -0.7880
4    0.0004     -0.7880

In [5]:
mean_voltage = data['Канал 1, V'].mean()

data['Канал 1, V'] = data['Канал 1, V'] - mean_voltage

data['Время, s'] = data['Время, s'] * 10

data.head()

   Время, s  Канал 1, V
0     0.000    0.009206
1     0.001    0.006606
2     0.002    0.006606
3     0.003    0.006606
4     0.004    0.006606

In [6]:
from io import StringIO

filename_ans = "C:\\Results\\txt\\09022022\\Block11_answers.txt"
buf = StringIO()
with open(filename_ans) as file:
    for line in file:
        fields = line.split("\t")
        #print(fields)
        fields[1] = fields[1].replace("В\xa0", "")
        line = "\t".join(fields)
        buf.write(line)
buf.seek(0)

minis = pd.read_csv(buf, sep='\t', decimal=",")

minis.head()

,65,Time (ms),Amplitude,Rise (ms),Decay (ms),Area,Baseline,Noise,Group,Channel,10-90Rise,HalfWidth,Rise50,Peak Dir,Burst#,BurstE#,10-90Slope,Rel Time,Unnamed: 18
0,1,106.8,0.361,0.7,2.0,0.69,-8.295,0.055,0,0,0.57,2.38,0.5,1,0,0,0.51,106.8,NaN
1,2,834.8,0.694,1.1,8.0,5.07,-9.072,0.111,0,0,0.86,6.40,0.5,1,0,0,0.64,66.8,NaN
2,3,896.0,0.999,1.1,3.5,3.70,-8.795,0.139,0,0,0.81,4.18,0.7,1,0,0,0.99,128.0,NaN
3,4,1151.8,0.721,1.1,3.1,2.31,-8.767,0.055,0,0,0.75,3.63,0.6,1,0,0,0.77,76.6,NaN
4,5,1561.5,0.721,1.1,3.1,2.04,-8.600,0.000,0,0,0.84,3.55,0.6,1,0,0,0.69,25.5,NaN

In [11]:
beginning_of_peak = ((minis['Time (ms)'] - minis['Rise (ms)'])*10).to_numpy()
beginning_of_peak = beginning_of_peak.astype(int)
beginning_of_peak

array([  1061,   8337,   8949,  11507,  15604,  17873,  36864,  37043,
        50475,  50783,  51522,  59150,  74863,  79182, 102669, 103358,
       107245, 108868, 125021, 126496, 127272, 128046, 129652, 130129,
       130793, 136141, 136993, 169976, 178661, 184969, 185577, 214041,
       218708, 245031, 245267, 248563, 269447, 277628, 283424, 297187,
       325385, 326597, 329673, 333296, 334507, 338056, 344072, 354234,
       361596, 365761, 381272, 393750, 403201, 404806, 407017, 415837,
       425479, 430455, 445251, 458696, 462270, 466577, 469779, 494319,
       515251])

In [12]:
end_of_peak = ((minis['Time (ms)'] + minis['Decay (ms)'])*10).to_numpy()
end_of_peak = end_of_peak.astype(int)
end_of_peak

array([  1088,   8428,   8995,  11548,  15646,  17907,  36892,  37078,
        50529,  50820,  51567,  59187,  74910,  79220, 102708, 103400,
       107297, 108906, 125073, 126528, 127309, 128080, 129688, 130164,
       130848, 136174, 137056, 170018, 178698, 185004, 185618, 214075,
       218748, 245094, 245304, 248601, 269491, 277675, 283471, 297249,
       325423, 326622, 329713, 333325, 334558, 338093, 344107, 354277,
       361637, 365797, 381322, 393788, 403231, 404833, 407061, 415892,
       425512, 430492, 445285, 458716, 462301, 466638, 469828, 494373,
       515281])

In [15]:
list_of_indices = sum(list(map(lambda x: list(range(*x)), zip(beginning_of_peak, end_of_peak))), [])

In [16]:
data['labels'] = 0

In [17]:
data.head()

   Время, s  Канал 1, V  labels
0     0.000    0.009206       0
1     0.001    0.006606       0
2     0.002    0.006606       0
3     0.003    0.006606       0
4     0.004    0.006606       0

In [18]:
data.iloc[list_of_indices, 2] = 1

In [19]:
data.iloc[list_of_indices, 2]

1061      1
1062      1
1063      1
1064      1
1065      1
         ..
515276    1
515277    1
515278    1
515279    1
515280    1
Name: labels, Length: 2685, dtype: int64

In [20]:
data.iloc[1061: 1100, 2]

1061    1
1062    1
1063    1
1064    1
1065    1
1066    1
1067    1
1068    1
1069    1
1070    1
1071    1
1072    1
1073    1
1074    1
1075    1
1076    1
1077    1
1078    1
1079    1
1080    1
1081    1
1082    1
1083    1
1084    1
1085    1
1086    1
1087    1
1088    0
1089    0
1090    0
1091    0
1092    0
1093    0
1094    0
1095    0
1096    0
1097    0
1098    0
1099    0
Name: labels, dtype: int64

In [25]:
data.to_csv(path_or_buf='C:\\Results\\txt\\09022022\\Block11_labels.txt', float_format='%.6f')

2 version